body{
	background-color: #000;
}

.line {
	stroke:#933;
	fill:none;
	stroke-width:2;
}

/*雷达圆圈*/
.radarStructureCircle {
	fill: none;
	stroke: #333;
	stroke-width: 0.5px;
}

/*雷达半径射线*/
.radarStructureLine {
	fill: none;
	stroke: #333;
	stroke-width: 0.5px;
}