body{
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-family: arial, 'Microsoft Yahei', simHei;
	/*text-align: center;*/
}

#svgCanvas {
	position: absolute;
}

canvas {
	position: absolute;
}

/*雷达圆圈*/
.radarStructureCircle {
	fill: none;
	stroke: #000;
	stroke-opacity: 0.15;
	/*stroke-width: 0.5px;*/
}

/*外侧黑色圆圈*/
.radarStructureCircleOutBlack {
	fill: none;
	stroke: #000;
	stroke-width: 1.5px;
}

/*雷达半径射线*/
.radarStructureLine {
	fill: none;
	stroke: #000;
	stroke-opacity: 0.15;
	/*stroke-width: 0.5px;*/
}

/*刻度*/
.radarStructureLineMarkerYear {
	fill: none;
	stroke: #000;
	stroke-width: 1.5px;
}

.radarStructureLineMarkerMonth {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
}

/*时间刻度标签*/
.radarMarkerYearLabel {
	font-family: arial, 'Microsoft Yahei', simHei;
	font-size: 12px;
	fill:#000;
	text-anchor: middle;
}

.radarMarkerMonthLabel {
	font-family: arial, 'Microsoft Yahei', simHei;
	font-size: 10px;
	fill:#000;
	text-anchor: middle;
}

/*收益刻度标签*/
.radarLabelRevenue {
	font-family: arial, 'Microsoft Yahei', simHei;
	font-size: 10px;
	fill:#000;
	text-anchor: middle;
}

/*数据曲线样本*/
/*单条整条曲线*/
.dataPath {
	stroke: #000;
	stroke-opacity: 0.7;
	stroke-width:1;
	fill:none;
}
/*单独每条动画生成直线*/
.dataLine {
	stroke: #000;
	stroke-opacity: 0.7;
	stroke-width:1;
	fill:none;
}
/*鼠标经过，高亮曲线*/
.highLightLine {
	stroke:#f00;
	stroke-width:3;
	fill:none;
	stroke-opacity: 1;
}

/*走珠*/
#radarTickGroup {
	stroke:none;
	fill:#f00;
}

/*start 浮动文本框=====================================*/
div.mouseTooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 10px;
    font-family: 'Microsoft Yahei', SimHei, STHeiti, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: black;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}


#dateTooltip {
	font-size: 12px;
	padding-bottom: 5px;
}

#fundNameTooltip {
	font-size: 14px;
	padding-bottom: 5px;
}

#fundCodeTooltip {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
}

.lineInTooltip {
	width: 140px;
	color: white;
	size: 0.5px;
}

#totalValueTooltip {
	font-size: 16px;
	padding-bottom: 5px;
}

.innerTitleTooltip {
	font-size: 12px;
	font-weight: bold;
}
/*end 浮动文本框=====================================*/

/*整体dom容器*/
#wholeContainer {
	text-align: center;
}

/*项目标题*/
#titleHolder {
	padding: 20px;
	color: #444;
	font-size: 36px;
	font-weight: bold;
}


