body, html {
	margin: 0;
}

canvas {
	position: absolute;
	/*width: 600px;
	height: 600px;*/
}

svg {
	position: absolute;
}
/*
path.countries {
	fill:gray;
	stroke:white;
	stroke-width:0.5;
	fill-opacity: 0.3;
}

path.sample {
	fill:red;
	stroke:black;
	stroke-width:1;
	fill-opacity: 0.5;
}

line.link {
	stroke:black;
	stroke-width:1;
	stroke-opacity: 0.5;
}

circle.node {
	fill:red;
	stroke:white;
	stroke-width:1;
}

circle.xy {
	fill:pink;
	stroke:black;
	stroke-width:1;
}*/