<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>C1</title>
	<script src="lib/vue.js"></script>
</head>
<body>
	<div id="app">
		<!-- <p>{{message}}</p> -->
		<input v-model='newTodo' v-on:keyup.enter='addTodo'>
		<!-- <button v-on:click='reverseMessage'>reverseMessage</button> -->
		<ul>
			<li v-for='todo in todos'>
				<span>{{todo.text}}</span>
				<button v-on:click='removeTodo($index)'>删除</button>
			</li>
		</ul>
	</div>
<script>
	new Vue({
		el: '#app',
		data: {
			// message: 'Hello Vue'
			newTodo: '',
			todos: [
				{text: 'javascript'},
				{text: 'vue'},
				{text: 'd3'}
			]
		},
		methods: {
			addTodo: function() {
				var text = this.newTodo.trim();
				if(text) {
					this.todos.push({text:text});
				}
			},
			removeTodo: function(index) {
				this.todos.splice(index, 1);
			}
			// reverseMessage: function() {
			// 	this.message = this.message.split('').reverse().join('');
			// }
		}
	});
</script>
</body>
</html>