<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo for parallel with vue.js</title>
	<link rel="stylesheet" href="src/style.css">
	<script type="text/javascript" src='src/d3.js'></script>
	<script type="text/javascript" src='src/vue.js'></script>
</head>
<body>
	<div id="app">
		<div id='checkboxes'>
            <div v-for='dimension in dimensionsAvailable'>
                <label>{{ dimension.name }}</label>
                <input type="checkbox" v-bind:value="dimension" v-model='checkedDimensions'>
            </div>
			<div>
	            <input type="button" name="click" value="更新图表" @click=updateGraph(this.checkedDimensions,this.chartData)>
	        </div>
        </div>
	</div>
	<script type="text/javascript" src='src/demo-parallel-vue.js'></script>
</body>
</html>
