<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="src/layout.css">
	<link rel="stylesheet" href="src/style.css">
	<script type="text/javascript" src='src/d3.js'></script>
	<script type="text/javascript" src='src/vue.js'></script>
</head>
<body>
	<div id="menu">
		<a href="#" id="logoLink">
			<img src="image/app-logo.png" alt="" id="logo" width='178' height='41' name='logo'>
		</a>
		<div id="userbox" class="slidemenu">
			<a class="button" style='background-color:rgb(66,107,131);'>
				<span id="email">关于</span>
			</a>
		</div>
		<div id="langbox" class="slidemenu">
			<a class="button secondary">
				<span id="language">主页</span>
			</a>
		</div>
	</div>
	<div id="mappage" class="page" style='display: block; height: 597px;'>
		<div id="app">
			<div id='checkboxes'>
				<div v-for='dimension in dimensionsAvailable'>
					<label>{{ dimension.label }}</label>
					<input type="checkbox" v-bind:value="dimension" v-model='checkedDimensions'>
				</div>
				<div>
					<input type="button" name="click" value="更新图表" @click=updateGraph(this.checkedDimensions,this.chartData)>
				</div>
			</div>
		</div>
		<div id="copy">
			copyright@Guo Wei 2015 <br>
			Data: Statistics Department of China
		</div>
	</div>
	<script type="text/javascript" src='src/demo-parallel-vue.js'></script>
</body>
</html>
