<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>parallel line</title>
    <script src="lib/vue.js"></script>
	<script src="lib/d3.js"></script>
    <link rel="stylesheet" href="src/style.css">
</head>
<body>
    <div id="app">
        <div>
            <input type="checkbox" id="income" value="收入" v-model='checkedParas'>
            <label for="income">收入</label>
            <input type="checkbox" id="income" value="人口" v-model='checkedParas'>
            <label for="income">人口</label>
        </div>
        <div>
            <span>已经选择指标：{{checkedParas}}</span>
        </div>
        <div>
            <!-- <input type="button" name="click" value="Click" @click=print(this.checkedParas)> -->
            <input type="button" name="click" value="Click" @click=copyCheckedParaArray(this.checkedParas)>
        </div>

    </div>

    <script src='src/parallelLineVue.js'></script>
</body>
</html>
