body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
h1 {
  font-size: 24px;
  font-weight: 600;
}
a {
  color: black;
}
.sidebar {
  position: absolute;
  left: 840px;
  top: 25px;
  width: 300px;
  height: 800px;
}
.sidebar div {
  font-weight: 100;
  font-size: 14px;
  margin-top: 10px;
  line-height: 17px;
}
.sidebar span.artist-tag {
  font-weight: 500;
  color: cadetblue;
  cursor: pointer;
}
.sidebar .social {
  margin-top: 20px;
}

svg text {
  text-anchor: middle;
  fill: #222;
  pointer-events: none;
}
g.force line {
  stroke: #999;
}
g.node {
  cursor: pointer;
}
g.node path {
  opacity: 0;
}
g.node circle {
  fill: cadetblue;
  opacity: 0.8;
  pointer-events: none;
}
g.node.hover circle {
  fill: #666;
}

g.tooltip {
  pointer-events: none;
}
g.tooltip path {
  opacity: 0.7;
}
g.tooltip text {
  font-size: 12px;
  fill: white;
}
