/*:::HTML5 display definition :::*/
article, 
aside, 
figcaption, 
figure, 
footer, 
header, 
main, 
nav, 
section {
	display: block;
}

/*::: Base :::*/
body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

small {
	font-size: 80%;
}

/*::: Embedded content :::*/
img {
	border: 0;
}

@font-face {
	font-family: 'Social Icons';
	src: url('font/socialico-webfont.eot');
	src: url('font/socialico-webfont.eot?#iefix') format('embedded-opentype'), url('font/socialico-webfont.woff') format('woff'), url('font/socialico-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*GENERAL (APPLYED TO ELEMENTS)
--------------------------------------------*/
h1 {
	color: #212121;
	font-family: sans-serif;
	font-size: 3.25em;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 0.975;
}

.about h2,
.mod h2,
.nav-main a {
	font-family: sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.about h2,
.mod h2 {
	font-size: .875em;
}

/*CONTAINERS
--------------------------------------------*/
.page {
	margin: 0 auto;
	width: 960px;
}
main {
	float: left;
	width: 600px;
}

.sidebar {
	float: right;
	margin-top: 1.875em;
	width: 300px;
}

/*MASTHEAD
--------------------------------------------*/

/*::: Main Navigation :::*/
.nav-main {
	border-bottom: 1px solid #c7c7c8;
	border-top: 5px solid #019443;
	margin-bottom: 0;
	padding:  .45em 0 .5em;
}

.nav-main li {
	border-left: 1px solid #c8c8c8;
	display: inline-block;
	text-align: left;
}

.nav-main li:first-child {
	border-left: none;
}

.nav-main li:last-child a {
	padding-right: 0;
}

.nav-main a {
	color: #292929;
	display: inline-block;
	font-size: 1.125em;
	padding: .5em 1.15em .5em 1.4em;
}

.social-sites li {
	display: inline;
}

.social-sites a {
	color: #019443;
	font-family: 'Social Icons', sans-serif;
	font-size: 46px;
	line-height: .8;
	vertical-align: middle;
}

.nav-main li {
	display: inline-block;
}

.nav-main a {
	color: #292929;
	display: inline-block;
	font-family: sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	text-transform: uppercase;
}

/*MAIN CONTENT
--------------------------------------------*/
h1 {
	margin-bottom: .4125em;
}

.post-photo {
	float: left;
	margin-bottom: 2px;
	margin-right: 22px;
	max-width: 61.667%;
}

/* ::: Blog Post Footer ::: */
.post-footer {
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
	padding-bottom: .7em;
	padding-top: .7em;
}

.footer p {
	color: #3a3a3a;
	font-family: arial, helvetica, sans-serif;
	font-size: 0.688em;
}



/*SIDEBAR
--------------------------------------------*/
.mod h2 {
	border-bottom: 1px solid #dbdbdb;
	margin-top: 2.571em;
	padding-bottom: .75em;
}

/*::: About Me :::*/
.about {
	background: #2b2b2b;
	padding: 0.313em 0.625em 0.625em;
}

.about img {
	border: 5px solid #bebebe;
}

.map {
	margin: 1.438em 0 0.813em;
}
/* ::: Previous and Shared Posts ::: */
.links {
	margin: 1.5em 0 4.125em;
	padding-left: 0;
	width: 270px;
}

links li {
	margin-bottom: 1.1em;
}

.links a {
	font-size: 1.125em;
	line-height: 1.195;
}

/*FOOTER
--------------------------------------------*/
footer[role='contentinfo'] {
	border-top: 1px solid #cacbcb;
}

/*FOOTER
--------------------------------------------*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}






