.up circle {
	fill-opacity: .6;
}

.up text {
	color: #333;
	font-size: 10px;
	font-family: 'Microsoft Yahei', arial, sans-serif;
	font-weight: 900;
}

.up .text-bk {
	fill: #fff;
	/*fill-opacity: .8;*/
}

.up .circleHighlight {
	stroke: #333;
	stroke-width: 2;
}

.curveHighlight {
	stroke: #333;
	stroke-width: 4;
}

/*tooltip*/
div.tooltipMap {
    position: absolute;
    width: 140px;
    height: auto;
    padding: 10px;
    font-family: 'Microsoft Yahei', SimHei, STHeiti, Arial, sans-serif;
    font-size: 10px;
    color: #333;
    text-align: center;
    background-color: white;
    border-color: #999;
    border-width: 1px;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
    pointer-events: none;
}