html, body {
	/*html body 100%是在移动设备中完全拉伸svg的关键！！！*/
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Microsoft Hahei", arial, sans-serif;
}

/*整体dom容器*/
#wholeContainer {
	text-align: center;
}

/*项目标题*/
#titleHolder {

}

/*单选框*/
#radioButtonHolder {

}

/*下拉列表容器*/
#selectHolder {
	margin: 5px;
}

/*下拉列表*/
#selectContainer {
	width: 200px;
	height: 35px;
	text-align: center;
	color: #999;
	background-color: white;
	font-size: 16px;
	font-family: "Microsoft Hahei", arial, sans-serif;
	padding-left: 10px;
	vertical-align: middle;
}

/*季度标题*/
.titleSeason {
	text-anchor:middle;
	/*这里不能用color属性，针对svg中的文字不起作用, use fill instead*/
	fill: #666;
	font-size: 14px;
}

/*年份标题*/
.titleYear {
	/*这里不能用color属性，针对svg中的文字不起作用, use fill instead*/
	fill: #000;
	font-size: 14px;
}

/*数据圆点*/
.dataPoints {
	fill: darkred;
	stroke:none;
}

/*浮动文本框*/
div.mouseTooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 10px;
    font-family: 'Microsoft Yahei', SimHei, STHeiti, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: black;

/*    border-style:solid; 
    border-width:1px; 
    border-color:#ccc;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}


#dateTooltip {
	font-size: 14px;
	padding-bottom: 5px;
}

#deathTooltip {
	font-size: 20px;
	padding-bottom: 5px;
}

#placeTooltip {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}

.lineInTooltip {
	width: 140px;
	color: white;
	size: 0.5px;
}

#descriptionTooltip {
	font-size: 12px;
	padding-bottom: 5px;
}

#responsible {
	font-size: 12px;
	padding-bottom: 5px;
}

.innerTitleTooltip {
	font-size: 12px;
	font-weight: bold;
}